#map {
	position: absolute;
	height: 100%;
	width: 70%;
	margin-left: 30%;
	margin-top: 1%;
	float: top;
	/*margin-right: 0;*/
	background-color: grey;
}

/*html and body tags are set 100% to allow div tags (or whatever) to have height set to a %, not just px value */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

 #main {
	 position: absolute;
	 height = 100%;
	 width = 28%;
	 top: 0;
	 left: 0;
 }
/* settings menu */
#settings { /* options window */
	position: absolute;
	height: 100%;
	width: 28%;
	z-index: 1;
	top: 100px;
	left: 0;
	overflow-x: hidden;
	background-color: AntiqueWhite;
	padding-top: 20%;
}
.settings .openOptions {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 36px;
	margin-left: 50px;
}
.settings .closeOptions {
    top: 0;
    left: 95%;
    font-size: 36px;
}

.show {display:block;}